{% extends "base.html" %}
{% block content %}
    <h2>Welcome to OpsBot Central!</h2>
    <hr></hr>
    <h3>What is OpsBot?</h3>
    <p>CloudCover OpsBot is a swiss-army knife of Ops tools.</p>
    <p>It is especially focused on providing on-call calendar management using the <a href="https://developers.google.com/google-apps/calendar/">Google Calendar API</a></p>
    <h3>How can I get OpsBot?</h3>
    <p>To add CloudCover OpsBot to your Slack team, just install the OpsBot Slack app</p>
    <p>&nbsp;</p>
    <p align="center">
        <img src="../static/img/opsbot-512.png" alt="OpsBot" style="width:40px;height:40px;">

        <a href="https://slack.com/oauth/authorize?scope=incoming-webhook,commands,bot&client_id={{client_id}}&state={{signature}}&redirect_uri={{redirect_uri}}"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
    </p>
{% endblock %}
